<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sm.mm.nicebody"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Free_menu"
            android:label="@string/title_activity_free_menu" >
        </activity>
        <activity
            android:name=".Recommend_list"
            android:label="@string/title_activity_recommend_list" >
        </activity>
        <activity
            android:name=".Schedule_calendar"
            android:label="@string/title_activity_schedule_calendar" >
        </activity>
        <activity
            android:name=".Recommend_count"
            android:label="@string/title_activity_recommend_count" >
        </activity>
        <activity
            android:name=".Recommend_success"
            android:label="@string/title_activity_recommend_success" >
        </activity>
        <activity
            android:name=".Schedule_calendar_day"
            android:label="@string/title_activity_schedule_calendar_day" >
        </activity>
        <activity
            android:name=".Recommend_description1"
            android:label="@string/title_activity_recommend_description1" >
        </activity>
    </application>

</manifest>
